{
  "presets": ["env", "react", "stage-0"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "src": "./src",
        "components": "./src/components",
        "i18n": "./i18n",
        "test": "./tests",
        "utils": "./src/utils"
      }
    }]
  ]
}
