@import "variables.less";

.title {
  font-size: @large-font;
  font-weight: @bolder;
  margin: @bottom-flush;
}

.subtitle {
  font-weight: @normal;
  margin: @top-flush;
}

.fieldset {
  margin: 0;
  border: 0;
}

.legend {
  display: none;
}

.label {
  display: block;
  font-weight: @bolder;
  margin: @vertical-margin 0 5px 0;
}

.form {
  border: @light-border;
}

.form-element {
  background: @almost-white;
  border: @light-border;
  font-size: @regular-font;
}

.input {
  .form-element();
  padding: @input-pad;
  width: 100%;
}

.select {
  .form-element();
  width: 30%;
  height: 40px;
}

.textArea {
  .form-element();
  width: 100%;
  height: 50px;
}

.button {
  background: @orange;
  color: @almost-white;
  cursor: pointer;
  display: block;
  text-align: center;
  border: 0;
  width: 90%;
  padding: @surround-pad;
  font-weight: @bolder;

  &:hover {
    background: @dark-orange;
  }
}

.requiredIndicator {
  color: @hot-red;
  font-weight: @bolder;
}

.hide {
  display: none;
}

.row-wrap {
  display: flex;
  justify-content: space-between;
  flex: 0 1 25%;
  flex-wrap: wrap;
}

@media all and (min-width: 760px) {
  .select {
    width: 10%;
  }
}
